<section class="formulario">
  <div class="box1">
    <div class="titulo">
      <h2><strong>Crear una Cuenta</strong></h2>
    </div>

    <form
      class="form"
      [formGroup]="signInForm"
      (ngSubmit)="registerNewUser()"
      class="form"
      name="login"
    >
      <div class="inputs">
        <div class="box-form">
          <mat-form-field class="example-full-width" color="primary">
            <mat-label for="">Nombre</mat-label>
            <input class="mat-input" type="text" matInput formControlName="firstName" tabindex=”0”>
            <!-- <mat-error *ngIf="isValidField('firstName')">
              <strong>{{ getErrorMessage('firstName') }}</strong>
            </mat-error> -->
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="primary">
            <mat-label for="">Apellido</mat-label>
            <input class="mat-input" type="text" matInput formControlName="lastName" tabindex=”0”>
            <!-- <mat-error *ngIf="isValidField('lastName')">
              <strong>{{ getErrorMessage('lastName') }}</strong>
            </mat-error> -->
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="primary">
            <mat-label>Teléfono</mat-label>
            <input type="tel" formControlName="phoneNumber" matInput placeholder="Ej. 5545281234" tabindex=”0”>
            <!-- <mat-error *ngIf="isValidField('phoneNumber')">
              <strong>{{ getErrorMessage('phoneNumber') }}</strong>
            </mat-error> -->
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="primary">
            <mat-label for="">Email</mat-label>
            <input
              class="mat-input"
              type="email"
              matInput
              formControlName="email"
              placeholder="Ej. delorean@gmail.com"
              tabindex="”0”"
            />
            <mat-error *ngIf="isValidField('email')">
              <strong>{{ getErrorMessage("email") }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field color="primary">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              type="password"
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              tabindex="”0”"
            />
            <i
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </i>
            <mat-error *ngIf="isValidField('password')">
              <strong>{{ getErrorMessage("password") }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="login">
        <button
          class="login__btn"
          type="submit"
          tabindex="”0”"
        >
          Crear Cuenta
        </button>
      </div>
    </form>
  </div>

  <div class="box2">
    <div class="login">
      <p>¿Tienes una cuenta?</p>
      <a routerLink="/login" tabindex="”0”"><strong>Iniciar Sesión</strong></a>
    </div>
  </div>
</section>
