<section>
  <div class="newTour">
    <div class="button-new">
      <button class="btn btn-lg">Agregar Rutina</button>
    </div>
  </div>
  <div class="container mt-5">
    <!--*ngIf="users.length > 0" -->
    <div class="row">
      <div class="col-lg-8-offset-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <span class="title"><strong>Listado de Rutinas</strong></span>
            <div class="table-responsive">
              <table class="table table-striped mt-4">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <!-- <th scope="col">DNI</th>
                    <th scope="col">Horarios</th> -->
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let routine of routines" class="tour-info">
                    <!-- <td>{{ routine.id }}</td>
                    <td>{{ routine.nombre | titlecase }}</td>
                    <td>{{ routine }}</td> -->
                    <td class="buttons">
                      <button
                        (click)="openModal(routines)"
                        class="bi bi-pencil-square text-primary"
                      ></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
