@import '../../../../shared/lib-styles/mediaQuery';
@import '../../../../shared/lib-styles/variables';

.profileClient{

    &__wrapper{
        max-width: 90rem;
        margin: 0 auto;
    }

    &__title{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
    }

    &__data{
        padding: .5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include responsive(tablet){
            flex-direction: row;
            justify-content: space-evenly;

        }
    }

    &__imgContainer{
        max-width: 25em;
        overflow: hidden;
        border-radius: 50%;
    }

    &__clientInfoContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include responsive(tablet){
            align-items: flex-start;
        }

    }

    &__text{
        display: block;
        margin: .5em;
        font-size: 1.2rem;

        &--data{
        font-weight: bold;

        }

        @include responsive(desktop){
            margin: 1.2em;
            font-size: 1.5rem;
        }
    }

}