<footer class="footer bg-dark">
    <div class="footer__wrapper">
        <picture class="footer__imgContainer">
            <img src="../../../../assets/logos/logo2-blanco2.0.png" alt="Logo gym">
        </picture>
        <section class="footer__authors">
            <h3 class="footer__title">Authors</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <app-authors></app-authors>
                </li>
            </ul>
        </section>
    </div>
</footer>