<!-- <nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="logo" routerLink="/home" tabindex="”0”">
      <img src="../../../../assets/logos/logo2-blanco2.0.png" alt="short-logo" />
    </a>
    <a class="logo logoNombre" routerLink="/home" tabindex="”0”">
      <img src="../../../../assets/logos/NombreGym.png" alt="short-logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <a class="logoNombreInside" routerLink="/home" tabindex="”0”">
          <img src="../../../../assets/logos/NombreGym.png" alt="short-logo" />
        </a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sign-in">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/clients">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/coach">Entrenadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/routine">Rutinas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/exercises">Ejercicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->

<nav class="navbar bg-dark">
  <div class="navbar__wrapper">
    <ul class="navbar__list">
      <li>
        <a href="#" class="navbar__link">
          <img class="navbar__img" src="../../../../assets/logos/logo2-blanco2.0.png" alt="Gym logo">
        </a>
      </li>
      <li>
        <a href="#" class="navbar__link--nameLogo">
          <img class="navbar__img" src="../../../../assets/logos/NombreGym.png" alt="Gym logo" >
        </a>
      </li>
      <li>
        <button (click)="toggleMenu()">
          <img class="navbar__img--menu" src="../../../../assets/icons/menu.png" alt="Image menu hamburger">
        </button>
      </li>
    </ul>
  </div>
</nav>

<app-menu *ngIf="showMenu"></app-menu>

