<nav class="navbar bg-dark">
  <div class="navbar__wrapper">
    <ul class="navbar__list">
      <li>
        <a href="#" class="navbar__link">
          <img class="navbar__img" src="../../../../assets/logos/logo2-blanco2.0.png" alt="Gym logo">
        </a>
      </li>
      <li>
        <a href="#" class="navbar__link--nameLogo">
          <img class="navbar__img" src="../../../../assets/logos/NombreGym.png" alt="Gym logo" >
        </a>
      </li>
      <li>
        <button (click)="toggleMenu()">
          <img class="navbar__img--menu" [src]="buttonImage" alt="Image menu hamburger">
        </button>
      </li>
    </ul>
  </div>
</nav>

<app-menu #menu (click)="toggleMenu()" *ngIf="showMenu"></app-menu>
