@import "../../../lib-styles/mediaQuery";
@import "../../../lib-styles/variables";

.authors {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  color: $white;

  &__icon {
    margin: 0 0.5rem;
  }

  &__name {
    font-size: 1em;
  }
}
