// Variables para colores
$white: #ffffff;
$black: #111111;
$gray: #666666;
$dark-gray: #464646;
$pink: #E01D8D;
$violet: #5243C2;
$red: #ff0000;
$none-color: none;
$aqua-marine: #00aae4;

// Paleta 1 de colores Gym
$wine: #8C082C;
$blue: #0622BF;
$dark-blue: #1F3A8C;
$light-blue: #5EBAF2;
$mostaza: #F2C230;



// Variables para boton transparente
$button-border-none: none;
