@import '../../../../shared/lib-styles/mediaQuery';
@import '../../../../shared/lib-styles/variables';

.home{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;

  @include responsive(desktop){
    flex-direction: row;
  }

  &__card{

    max-width: 40rem;
    margin: 1rem;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;

    @include responsive(desktop){
      filter: grayscale(1);
      transition: all 0.2s ease-in-out;
      width: 32.5rem;


      &:hover{
        filter: none;
      }
    }
  }

  &__title{
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: $white;
  }
}
