<section class="home">

  <div class="home__card">
    <a class="home__link" title="See the muscle routine" routerLink="/home/routine-one">
      <img  src="../../../../../assets/cards-home/musculatura.jpg" alt="Muscle routine">
      <h3 class="home__title">Musculatura</h3>
    </a>
  </div>

  <div class="home__card">
    <a class="home__link" title="See the muscle routine" routerLink="/home/routine-one">
      <img  src="../../../../../assets/cards-home/musculatura.jpg" alt="Muscle routine">
      <h3 class="home__title">Musculatura</h3>
    </a>
  </div>

  <div class="home__card">
    <a class="home__link" title="See the muscle routine" routerLink="/home/routine-one">
      <img  src="../../../../../assets/cards-home/musculatura.jpg" alt="Muscle routine">
      <h3 class="home__title">Musculatura</h3>
    </a>
  </div>

  <!-- <div class="card">
    <a class="face front" routerLink="/home/routine-one">
      <img src="../../../../../assets/cards-home/musculatura.jpg">
      <div class="title">
        <h3>Musculatura</h3>
      </div>
    </a>
  </div>

  <a class="card" routerLink="/home/routine-two">
    <div class="face front">
      <img src="../../../../../assets/cards-home/definicion.jpg">
      <div class="title">
        <h3>Definición</h3>
      </div>
    </div>
  </a>

  <a class="card" routerLink="/home/routine-three">
    <div class="face front">
      <img src="../../../../../assets/cards-home/fuerza.jpg">
      <div class="title">
        <h3>Fuerza</h3>
      </div>
    </div>
  </a> -->

</section>
