<div class="menu">
    <div class="menu__wrapper bg-dark">
        <ul class="menu__list">
            <li class="menu__item">
                <button class="menu__close">
                    <img src="../../../../../assets/icons/cruzar.png" alt="Image close menu">
                </button>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Registrarse</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Iniciar sesion</a>
            </li>
        </ul>
    </div>
</div>
