<section>
  <div class="title-routine">
    <h1>Musculatura</h1>
  </div>
  <mat-tab-group>
    <mat-tab [label]="days" *ngFor="let days of weekdays">
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-8-offset-lg-2">
            <div class="card">
              <div class="card-body text-center">
                <div class="table-responsive">
                  <table class="table table-striped mt-1">
                    <thead>
                      <tr>
                        <th scope="col">Ejercicio</th>
                        <th scope="col">Tiempo</th>
                        <th scope="col">Sesiones</th>
                        <th scope="col">Repeticiones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Bicicleta estática</td>
                        <td>15 min.</td>
                        <td>-</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Elevación de Piernas</td>
                        <td>-</td>
                        <td>4</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>Abdominales Cortos</td>
                        <td>-</td>
                        <td>4</td>
                        <td>20</td>
                      </tr>
                      <tr>
                        <td>Russian twist</td>
                        <td>-</td>
                        <td>8</td>
                        <td>20</td>
                      </tr>
                      <tr>
                        <td>Sentadillas con Barra</td>
                        <td>-</td>
                        <td>3</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>Elevación de pantorrillas</td>
                        <td>-</td>
                        <td>4</td>
                        <td>20</td>
                      </tr>
                      <tr>
                        <td>Salto en extensión</td>
                        <td>20 seg.</td>
                        <td>8</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Press militar de pie con barra</td>
                        <td>-</td>
                        <td>3</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>Elevaciones frontales</td>
                        <td>-</td>
                        <td>3</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>Elevaciones laterales</td>
                        <td>-</td>
                        <td>3</td>
                        <td>12</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
